/*--------------------
	 LOGIN PAGE
--------------------*/

.login-content {
	max-width: 450px;

	/*-- Auth Buttons --*/

	.btn-auth {
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}