<article id="content-wrapper" class="content-wrapper admin-wrapper" view-switch>
	<section id="content-main" class="content-main admin-main clearfix" ng-controller="AdminCtrl as admin" ng-cloak>
		<h1 class="content-heading">Admin</h1>

		<div ng-if="admin.showAdmin">

			<section class="userList content-section">
				<h2>
					<i class="fa fa-users"></i> Users
				</h2>

				<ul class="userList">
					<li ng-repeat="user in admin.users" class="userList-item user clearfix">
						<img class="user-picture" ng-src="{{user.picture}}"/>
						<span class="user-displayName">{{user.displayName}}</span>
						<i class="user-logins fa fa-{{login}}" ng-repeat="login in user.linkedAccounts"></i>
					</li>
				</ul>

			</section>
		</div>

		<div ng-if="!admin.showAdmin">
			You are not authorized to view this page.
		</div>

	</section>
</article>