<form method="post" ng-submit="ef.submitEvent()" name="eventForm">

	<p class="text-danger">
		<strong>*</strong> <em class="small">required</em>
	</p>

	<div class="form-group">
		<label for="eventTitle">Title<span class="text-danger">*</span></label>

		<input id="eventTitle"
			   type="text"
			   name="title"
			   ng-model="ef.formModel.title"
			   class="form-control"
			   placeholder="Event Title"
			   required>

		<div ng-if="eventForm.title.$dirty && eventForm.title.$invalid" ng-messages="eventForm.title.$error" class="text-danger">
			<span ng-message="required">Title is <strong>required</strong></span>
		</div>
	</div>

	<div class="form-group">
		<label>Start Date/Time<span class="text-danger">*</span></label>

		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-startDate" class="input-group-addon">Date</label>
					<input id="eventDate-startDate"
						   type="text"
						   name="startDate"
						   ng-model="ef.formModel.startDate"
						   class="form-control"
						   placeholder="mm/dd/yyyy"
						   ng-pattern="ef.dateRegex"
						   required>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-startTime" class="input-group-addon">Time</label>
					<input id="eventDate-startTime"
						   type="text"
						   name="startTime"
						   ng-model="ef.formModel.startTime"
						   class="form-control"
						   placeholder="h:mm AM/PM"
						   ng-pattern="ef.timeRegex"
						   required>
				</div>
			</div>
		</div>

		<div ng-if="eventForm.startDate.$dirty && eventForm.startDate.$invalid" ng-messages="eventForm.startDate.$error" class="text-danger">
			<span ng-message="pattern">Start date format <strong>mm/dd/yyyy</strong></span>
			<span ng-message="required">Start date is <strong>required</strong></span>
		</div>

		<div ng-if="eventForm.startTime.$dirty && eventForm.startTime.$invalid" ng-messages="eventForm.startTime.$error" class="text-danger">
			<span ng-message="pattern">Start time 12-hour format <strong>h:mm AM/PM</strong></span>
			<span ng-message="required">Start time is <strong>required</strong></span>
		</div>
	</div>

	<div class="form-group">
		<label>End Date/Time<span class="text-danger">*</span></label>

		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-endDate" class="input-group-addon">Date</label>
					<input id="eventDate-endDate"
						   type="text"
						   name="endDate"
						   ng-model="ef.formModel.endDate"
						   class="form-control"
						   placeholder="mm/dd/yyyy"
						   ng-pattern="ef.dateRegex"
						   required>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-endTime" class="input-group-addon">Time</label>
					<input id="eventDate-endTime"
						   type="text"
						   name="endTime"
						   ng-model="ef.formModel.endTime"
						   class="form-control"
						   placeholder="h:mm AM/PM"
						   ng-pattern="ef.timeRegex"
						   required>
				</div>
			</div>
		</div>

		<div ng-if="eventForm.endDate.$dirty && eventForm.endDate.$invalid" ng-messages="eventForm.endDate.$error" class="text-danger">
			<span ng-message="pattern">End date format <strong>mm/dd/yyyy</strong></span>
			<span ng-message="required">End date is <strong>required</strong></span>
		</div>

		<div ng-if="eventForm.endTime.$dirty && eventForm.endTime.$invalid" ng-messages="eventForm.endTime.$error" class="text-danger">
			<span ng-message="pattern">End time 12-hour format <strong>h:mm AM/PM</strong></span>
			<span ng-message="required">End time is <strong>required</strong></span>
		</div>
	</div>

	<div class="form-group">
		<label for="eventLocation">Location<span class="text-danger">*</span></label>
		<input id="eventLocation"
			   name="location"
			   ng-model="ef.formModel.location"
			   class="form-control"
			   placeholder="123 Some Street, City, State"
			   required>

		<div ng-if="eventForm.location.$dirty && eventForm.location.$invalid" ng-messages="eventForm.location.$error" class="text-danger">
			<span ng-message="required">Location is <strong>required</strong></span>
		</div>
	</div>

	<div class="form-group">
		<label for="eventDesc">Description</label>
		<textarea id="eventDesc"
				  name="description"
				  ng-model="ef.formModel.description"
				  class="form-control"
				  rows="3"></textarea>
	</div>

	<div class="form-group">
		<label>Public<span class="text-danger">*</span></label>
		<p class="help-block">
			Event to appear on main Events listing:
		</p>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio"
					   name="viewPublic"
					   ng-value="true"
					   ng-model="ef.formModel.viewPublic"
					   required>Yes
			</label>

			<label class="radio-inline">
				<input type="radio"
					   name="viewPublic"
					   ng-value="false"
					   ng-model="ef.formModel.viewPublic">No
			</label>
		</div>

		<div ng-if="eventForm.viewPublic.$invalid" ng-messages="eventForm.viewPublic.$error" class="text-danger">
			<span ng-message="required">Public is <strong>required</strong></span>
		</div>
	</div>

	<div class="form-group">
		<label>RSVP<span class="text-danger">*</span></label>
		<p class="help-block">
			Regardless of selected RSVP status, users cannot submit / update RSVPs after the event has ended.
		</p>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio"
					   name="rsvp"
					   ng-value="true"
					   ng-model="ef.formModel.rsvp"
					   required>Open
			</label>

			<label class="radio-inline">
				<input type="radio"
					   name="rsvp"
					   ng-value="false"
					   ng-model="ef.formModel.rsvp">Closed
			</label>
		</div>

		<div ng-if="eventForm.rsvp.$invalid" ng-messages="eventForm.rsvp.$error" class="text-danger">
			<span ng-message="required">RSVP is <strong>required</strong></span>
		</div>
	</div>

	<button type="submit"
			class="btn-save btn"
			ng-class="{'btn-primary': !ef.btnSaved, 'btn-success': ef.btnSaved === true, 'btn-danger': ef.btnSaved === 'error'}"
			ng-disabled="eventForm.$invalid">
		<i class="fa" ng-class="{'fa-download': !ef.btnSaved, 'fa-check': ef.btnSaved, 'fa-ban': ef.btnSaved === 'error'}"></i> {{ef.btnSubmitText}}
	</button>
</form>
