<form method="post" ng-submit="ef.submitEvent()">
	<div class="form-group">
		<label for="eventTitle">Title</label>
		<input id="eventTitle" type="text" ng-model="ef.formModel.title" class="form-control"
			   placeholder="Event Title" required>
	</div>

	<div class="form-group">
		<label>Start Date/Time</label>

		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-startDate" class="input-group-addon">Date</label>
					<input id="eventDate-startDate" type="text" ng-model="ef.startDate" class="form-control" placeholder="mm/dd/yyyy" required>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-startTime" class="input-group-addon">Time</label>
					<input id="eventDate-startTime" type="text" ng-model="ef.startTime" class="form-control" placeholder="h:mm AM" required>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>End Date/Time</label>

		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-endDate" class="input-group-addon">Date</label>
					<input id="eventDate-endDate" type="text" ng-model="ef.endDate" class="form-control" placeholder="mm/dd/yyyy" required>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<label for="eventDate-endTime" class="input-group-addon">Time</label>
					<input id="eventDate-endTime" type="text" ng-model="ef.endTime" class="form-control" placeholder="h:mm AM" required>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="eventLocation">Location</label>
		<input id="eventLocation" ng-model="ef.formModel.location" class="form-control"
			   placeholder="123 Some Street, City, State" required>
	</div>

	<div class="form-group">
		<label for="eventDesc">Description</label>
		<textarea id="eventDesc" ng-model="ef.formModel.description" class="form-control" rows="3"></textarea>
	</div>

	<div class="form-group">
		<label>Public</label>
		<p class="help-block">
			Event to appear on main Events listing:
		</p>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio" name="viewPublic" ng-value="true" ng-model="ef.formModel.viewPublic"
				required>Yes
			</label>

			<label class="radio-inline">
				<input type="radio" name="viewPublic" ng-value="false" ng-model="ef.formModel.viewPublic">No
			</label>
		</div>
	</div>

	<div class="form-group">
		<label>RSVP</label>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio" name="rsvp" ng-value="true" ng-model="ef.formModel.rsvp" required>Open
			</label>

			<label class="radio-inline">
				<input type="radio" name="rsvp" ng-value="false" ng-model="ef.formModel.rsvp">Closed
			</label>
		</div>
	</div>

	<button type="submit"
			class="btn-save btn"
			ng-class="{'btn-primary': !ef.btnSaved, 'btn-success': ef.btnSaved === true, 'btn-danger': ef.btnSaved === 'error'}"
			ng-disabled="">
		<i class="fa" ng-class="{'fa-download': !ef.btnSaved, 'fa-check': ef.btnSaved, 'fa-ban': ef.btnSaved === 'error'}"></i> {{ef.btnSubmitText}}
	</button>
</form>
