<section class="eventAdminListing" ng-controller="AdminEventListCtrl as adminEventList">
	<h2>
		<i class="fa fa-list"></i> All Events
	</h2>

	<p class="lead">
		View all events and access detail links, update, or delete.
	</p>

	<table ng-if="adminEventList.showEvents" class="eventTable table">
		<thead>
			<tr>
				<th>Event</th>
				<th>ID / URL</th>
				<th class="eventTable-action-head">Edit</th>
				<th>RSVPs</th>
			</tr>
		</thead>
		<tr ng-repeat="evt in adminEventList.events" id="e{{$index}}">
			<td><a ng-href="/event/{{evt._id}}">{{evt.title}}</a></td>

			<td>
				<a ng-show="adminEventList.copyInput !== $index"
				   class="eventTable-link-copy"
				   ng-click="adminEventList.showUrlInput($index)">{{evt._id}}</a>

				<input ng-show="adminEventList.copyInput === $index"
					   type="text"
					   class="form-control eventTable-link-input"
					   ng-value="adminEventList.evtUrl + evt._id"
					   ng-blur="adminEventList.blurUrlInput()">
			</td>
			<td class="eventTable-action edit">
				<a ng-href="/event/{{evt._id}}/edit"><i class="fa fa-edit"></i></a>
			</td>
			<!--<td><a ng-href="/event/{{evt._id}}/guests">View Guests</a></td>-->
			<td><a ng-click="admin.showGuests(evt._id)">View Guests</a></td>
		</tr>
	</table>

</section>