<article id="content-wrapper" class="content-wrapper eventDetail-wrapper" view-switch>
	<section id="content-main" class="content-main eventDetail-content clearfix" ng-controller="EventDetailCtrl as event"
			 ng-cloak>

		<div ng-if="event.isAuthenticated() && event.eventReady && event.rsvpReady">
			<h1 class="content-heading">{{event.detail.title}}</h1>

			<p>
				{{event.detail.prettyDate}}
			</p>

			<p class="lead">
				{{event.detail.description}}
			</p>

			<button ng-if="event.detail.rsvp && !event.detail.expired"
					class="btn btn-primary"
					ng-click="event.openRsvpModal()"><i class="fa fa-paper-plane"></i> {{event.rsvpBtnText}}</button>

			<div ng-if="!event.detail.rsvp || event.detail.expired" class="alert alert-warning">
				<i class="fa fa-warning"></i> RSVP is closed for this event.
			</div>

			<rsvp-form event="event.detail"
					   form-model="event.rsvpObj"
					   user-name="{{::event.user.displayName}}"
					   user-id="{{::event.user._id}}"
					   show-modal="event.showModal"></rsvp-form>
		</div>

	</section>
</article>