<article id="content-wrapper" class="content-wrapper login-wrapper" view-switch>
	<section id="content-main" class="content-main login-content clearfix container-fluid"
			 ng-controller="LoginCtrl as login"
			 ng-cloak>

		<div class="jumbotron">
			<h1><i class="fa fa-sign-in"></i> Login</h1>

			<p>Please login with one of the following services.</p>

			<detect-adblock></detect-adblock>

			<button ng-repeat="l in login.logins" class="btn btn-block btn-auth btn-{{::l.account}}"
					ng-click="login.authenticate(l.account)">
				<i class="fa fa-{{::l.account}}"></i> Login with {{::l.name}}
			</button>
		</div>

	</section>
</article>